<div class="row">

  <div class="col-md-12">

   <!-- Jumbotron -->
   <div class="jumbotron">
    <h1>Patient Management</h1>
    <p>Simple patient management system for small practices. Try the demo account: E-mail: "doctor0@email.com", Password: "password".</p>

    <br />

    <p><%= button_to "Get Started!", new_doctor_registration_path, class: 'btn btn-lg btn-success', method: :get %></p>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <h2>Appointment Schedules</h2>
      <p>Quickly see what appointments you have coming up and what type of preparation work will need to be done!</p>
      <!-- <p><a class="btn btn-primary" href="#">View details &raquo;</a></p> !-->
    </div>

    <div class="col-lg-4">
      <h2>Easy Record Keeping</h2>
      <p>Seemless editing to keep your appointment and patient notes up to date.</p>
      <!-- <p><a class="btn btn-primary" href="#">View details &raquo;</a></p> !-->
    </div>

    <div class="col-lg-4">
      <h2>Invoice and Report Generation</h2>
      <p>Easily generate reports and invoices for each of your visits according to work done.</p>
      <!-- <p><a class="btn btn-primary" href="#">View details &raquo;</a></p> !-->
    </div>
  </div>



</div>


</div>