<div class="row">

  <div class="col-md-12">
    <h1><%= @doctor.doctor_name_full %>'s Dashboard</h1>

    <hr />


    <!-- Ongoing Appointments !-->
    <div class="well" id="ongoing-appointments">
      <h2>Ongoing Appointments</h2>
      <%= render 'appointments/appointments_table_with_work', appointments: @ongoing_appointments %>
    </div>

    <!-- Upcoming Appointments !-->
    <div class="well" id="future-appointments">
      <h2>Upcoming Appointments</h2>
      <%= render 'appointments/appointments_table_with_work', appointments: @future_appointments %>
    </div>


    <!-- Past Appointments !-->
    <div class="well" id="past-appointments">
      <h2>Past Appointments</h2>
      <%= render 'appointments/appointments_table_with_work', appointments: @past_appointments %>
    </div>


  </div>


</div>