<div class="row">

  <div class="col-md-12">
    <h1><%= current_doctor.doctor_name_full %>'s Dashboard</h1>

    <hr />

    <!-- Quick Transaction Section !-->
    <div class="well" id="quick-transaction">
      <h2>Upcoming Appointments</h2>


      

      <p>This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. </p>

      

      

    </div>
  </div>


</div>