<div class="row">

  <div class="col-md-12">
    <h1>Appointment Details</h1>

    <hr />


    <!-- Ongoing Appointments !-->
    <div class="well" id="ongoing-transaction">
      <h2><%= @appointment.patient.full_name %>, on <%= @appointment.display_start_date %> <%= @appointment.display_start_time %></h2>
      <p>This is some text. taht is all.</p>
    </div>

     


  </div>


</div>